<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform" xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>

<div th:fragment="navbar(module)">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" th:href="@{/index}">Air SA&B</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

            <div th:if ="${(uname == null) } " class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav nav-pills ml-auto ">
                            <li class="nav-item" th:classappend="${module == 'home' ? 'active' : ''}">
                                <a class="nav-link" th:href="@{/index}">Home</a>
                            </li>
                            <li class="nav-item" th:classappend="${module == 'register' ? 'active' : ''}">
                                <a class="nav-link" th:href="@{/register}">Sign up</a>
                            </li>
                            <li class="nav-item" th:classappend="${module == 'login' ? 'active' : ''}">
                                <a class="nav-link" th:href="@{/login}">Log in</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/index#about}">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/index#contact}">Contact</a>
                            </li>

                    </ul>
            </div>


                <div  th:if ="${(uname != null)}" class="collapse navbar-collapse" id="navbarResponsive2">
                    <ul class="navbar-nav nav-pills ml-auto  ">
                        <li class="nav-item dropdown" th:classappend="${module == 'profile' ? 'active' : ''}">
                            <a style="color:#dba63d;" class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false"><span th:text="${uname}"></span></a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" th:href="@{/messages}">Messages</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" th:href="@{/profile}" >Profile/Update</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                            </div>
                        </li>

                        <li class="nav-item" th:classappend="${module == 'home' ? 'active' : ''}">
                            <a class="nav-link" th:href="@{/index}">Home</a>
                        </li>
                        <li th:if ="${(type == '1') or (type=='3')}" class="nav-item dropdown" th:classappend="${module == 'apartments' ? 'active' : ''}">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false"> My Apartments</a>
                            <div th:if ="${(type == '1') or (type=='3')}"  class="dropdown-menu">
                                <span th:if="${approval == 'false'}"><a class="dropdown-item disabled" href="" title="Not approved yet">New Registration</a></span>
                                <span th:if="${approval != 'false'}"><a class="dropdown-item " th:href="@{/apartment_reg}" >New Registration</a></span>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" th:href="@{/aparts}" >View All </a>
                            </div>
                        </li>
                        <li th:if ="${(type == '2') or (type=='3') or (type=='1')}" class="nav-item dropdown" th:classappend="${module == 'reservations' ? 'active' : ''}">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false"> My Reservations</a>
                            <div th:if ="${(type == '3')}"  class="dropdown-menu">
                                <a class="dropdown-item" th:href="@{/reserves}" >For my Pleasure </a>
                                <a class="dropdown-item" th:href="@{/apartReserves}" >For my Apartments </a>
                            </div>
                            <div th:if ="${(type == '1') }"  class="dropdown-menu">
                                <a class="dropdown-item" th:href="@{/apartReserves}" >For my Apartments </a>
                            </div>
                            <div th:if ="${(type == '2') }"  class="dropdown-menu">
                                <a class="dropdown-item" th:href="@{/reserves}" >For my Pleasure </a>
                            </div>
                        </li>
                        <li class="nav-item" th:classappend="${module == 'about' ? 'active' : ''}">
                            <a class="nav-link" th:href="@{/index#about}">About</a>
                        </li>
                        <li class="nav-item" th:classappend="${module == 'contact' ? 'active' : ''}">
                            <a class="nav-link" th:href="@{/index#contact}">Contact</a>
                        </li>
                    </ul>
                </div>

    </nav>
</div>
</body>
</html>