<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home registration</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"rel="stylesheet" type="text/css" media="all">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/one-page-wonder.css}" rel="stylesheet" type="text/css" media="all">
    <link th:href="@{css/apartment_reg.css}" rel="stylesheet" type="text/css" media="all">

    <style type="text/css">
        #map_canvas {
            height: 300px;
            width: 300px;
        }
    </style>

</head>
<body>

<!-- Navigation -->
<div th:replace="/fragments/navbar :: navbar('apartments')"></div>
<header class="masthead">
    <div class="overlay">
        <div class="container">


            <p class="form-title"> Complete the form below to submit your apartment registraion</p>
            <div th:if ="${(param.success != null) and (param.success[0] == 'true')}">
                <div class="alert alert-success" style="text-align: center;"> Your registration has been succesfully completed! <br>  <a  th:href="@{/index}">Back to homepage .</a></div>
            </div >
            <label class="divider" style="color: white">Define Apartment's Location </label>
            <div class="row">
                <div class="col-lg-6">
                    <div id="map_canvas" width="300" height="300"></div>
                </div>
                <div class="col-lg-6">
                    <div class="searchResults">
                        <h2 style="color: white">
                            You searched for:
                        </h2>
                        <input type="text" id="search_country" name="search_country" value="Greece" placeholder="Country"><br>
                        <input type="text" id="search_town" name="search_town" value="Athens" placeholder="Town"><br>
                        <input type="text" id="search_area" name="search_area" value="Argiroupoli" placeholder="Area"><br>
                        <input type="text" id="search_address" name="search_address" value="Thiras" placeholder="Address"><br>
                        <input type="text" id="search_address_number" name="search_address_number" value="74" placeholder="Address Number"><br>
                    </div>

                    <input type="submit" id="search" value="search"/>
                </div>
            </div>

            <form class="register"  method="POST"  enctype="multipart/form-data" th:action="@{/apartment_reg}">

                <input  name="name" id="name" required="required" placeholder="Name"   type="text"/>
                <input  name="description" id="description" required="required" placeholder="Description" maxlength="300" type="textarea"/>
                <input  name="country" id="country" required="required" placeholder="Country" value="Greece" style="width:30%" type="text"/>
                <input  name="town" id="town" required="required" placeholder="Town" value="Athens" style="width:30%" type="text"/>
                <input  name="area" id="area" required="required" placeholder="Area" value="Argiroupoli" style="width:30%"  type="text"/>
                <input  name="address" id="address" required="required" placeholder="Address"  value="Thiras" style="width:50%"  type="text"/>
                <input  name="address_number" id="address_number" required="required" value="74" placeholder="Address Number" style="width:50%"  type="number"/>

                <br>
                <label class="divider">Important Info</label>
                <br>

                <input type="text" name="startdate" id="datepicker" style="width:45%" placeholder="Start Date" data-date-format='yyyy-mm-dd'>
                <input  type="text" name="finaldate" id="datepicker" style="width:45%" placeholder="Final Date" data-date-format='yyyy-mm-dd'>
                <input name="price" id="price" placeholder="Price /day" min="1" required="required" type="number"/>
                <input name="capacity" placeholder="Capacity" required="required" type="number" min="1">
                <input name="minimumres" placeholder="Minimum reservation's days" min="1" required="required" type="number"/>
                <select required name="type" class="mine" >
                    <option selected disabled>Choose type</option>
                    <option value="0"> Private Residence</option>
                    <option value="1"> Public Residence</option>
                    <option value="2"> Whole Residence</option>
                </select>
                <br>
                <label class="divider">Features</label>
                <br>
                <input type="number" name="floor"  id="floor" placeholder="Floor"/>
                <input type="number" name="spaceArea"  id="spaceArea" placeholder="Space area" min="1"/>
                <input type="number" name="baths"  id="baths" placeholder="Number of bathrooms" min="0"/>
                <input type="number" name="beds"  id="beds" placeholder="Number of beds" min="0"/>
                <br>


                <label class="btn btn-sm"> Parking <input type="checkbox" name="parking" value="1" > </label>
                <label class="btn btn-sm"> Air Condition <input type="checkbox" name="ac" value="1"/></label>
                <label class="btn btn-sm"> Internet <input type="checkbox" name="internet" value="1" > </label>
                <label class="btn btn-sm"> Elevator <input type="checkbox" name="elevator" value="1" > </label>
                <label class="btn btn-sm"> TV <input type="checkbox" name="tv" value="1" > </label>
                <label class="btn btn-sm"> Kitchen <input type="checkbox" name="kitchen" value="1" > </label>
                <label class="btn btn-sm"> Living Room <input type="checkbox" name="livingroom" value="1" > </label>
                <label class="btn btn-sm"> Central Heating <input type="checkbox" name="heating" value="1" > </label>
                <label class="btn btn-sm"> Pets Allowed <input type="checkbox" name="pets" value="1" > </label>
                <label class="btn btn-sm"> Smoking Allowed <input type="checkbox" name="smoking" value="1" > </label>
                <label class="btn btn-sm"> For Events <input type="checkbox" name="events" value="1" > </label>

                <br/>


                <div class="form-group" align="center">
                    <label  class="photo_upload" >Photos of the apartment </label>
                    <input id="fileInput" type="file" name="uploadingFile" >
                </div>

                <input type="submit" value="Submit" class="btn  btn-sm" />
            </form>

        </div>
    </div>
</header>

<!-- Footer -->
<div th:replace="/fragments/footer :: footer"></div>
<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/popper/popper.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" rel="stylesheet" type="text/css" media="all" />


<script type="text/javascript">
    jQuery(function(){
        jQuery($(":input[id^='datepicker']")).datepicker({
            dateFormat: 'yyyy-MM-dd',
            inline: true,
            showOtherMonths: true
        });
    });
</script>

<script async defer src="https://maps.google.com/maps/api/js?key=AIzaSyBEcboHJ3HmCOtpiaUMW_0mKw0C20qPVpk"></script>
<script type="text/javascript">
    window.onload = function() {
        var gmarkers = [];
        var latlng = new google.maps.LatLng(0.0, 0.0),
            options  = {
                zoom               : 10,
                mapTypeId          : google.maps.MapTypeId.TERRAIN,
                center             : latlng,
                streetViewControl  : true,
                scaleControl       : true,
                scrollwheel        : true,
                mapTypeControl     : true,
                overviewMapControl : true,
                panControlOptions  : {
                    position         : google.maps.ControlPosition.TOP_LEFT
                },
                zoomControlOptions : {
                    position         : google.maps.ControlPosition.TOP_LEFT
                }
            };
        map = new google.maps.Map(document.getElementById('map_canvas'), options),
            geocoder = new google.maps.Geocoder(),
            search = document.getElementById('search');

        function codeAddress() {
            //otan tha ginetai anazhthsh event me krithrio px thn perioxh, tha exoume polla apotelesmata opote tha prepei
            //na yparxei ena loop poy tha dhmiourgei tous pollous markers gia na fanoun ston xarth.
            //opws einai tr o kwdikas kalyptei thn periptwsh p o xrhsths pataei panw se ena event gia na dei tis
            //plhrofories tou, opote i metablhth address pairnei timi apo thn html selida kateutheian
            var address = document.getElementById("search_town").value + " " +document.getElementById("search_country").value+ " " + document.getElementById("search_area").value + " " +
                document.getElementById("search_address").value + " " + document.getElementById("search_address_number").value;

            geocoder.geocode( { 'address': address}, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    map.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                    gmarkers.push(marker);
                } else {
                    alert("Οι χάρτες της Google αντιμετώπισαν το εξής πρόβλημα: " + status);
                }
            });
        }

        function removeMarkers(){
            var i;
            for(i=0; i<gmarkers.length; i++){
                gmarkers[i].setMap(null);
            }
        }

        codeAddress();

        search.onclick = function() {
            removeMarkers();
            codeAddress();
        };
    };
</script>
<script  type="text/javascript" th:src="@{/scripts/apartment.js}"></script>
</body>
</html>

