
<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="/fragments/head :: head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Apartment Profile</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"rel="stylesheet" type="text/css" media="all">
    <link th:href="@{/css/lightbox.css}" rel="stylesheet" type="text/css" media="all">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/one-page-wonder.css}" rel="stylesheet" type="text/css" media="all">
    <link th:href="@{/css/apartment_prof.css}" rel="stylesheet" type="text/css" media="all">
    <link th:href="@{/css/searchCss.css}" rel="stylesheet" type="text/css" media="all">
    <!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" type="text/css" media="all">-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" rel="stylesheet" type="text/css" media="all" />

    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <!--<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>-->

    <style>
        .mySlides {display:none}
        .demo {cursor:pointer}
    </style>

</head>
<body>
<!-- Navigation -->
<div th:replace="/fragments/navbar :: navbar('apartments')"></div>


<div id="yourtext1">
    <div class="container">

        <div class="parent-wrapper">
            <div class="parent">
                <div class= "child" style="height: 100%;" >
                    <section class="col-lg-12">
                        <article class="search-result">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2 class="heading"><a  th:text="${ap.name}">Voluptatem, exercitationem, suscipit, distinctio</a></h2>
                                </div>
                            </div>

                            <div class="row">
                                <div id="act-imgs" class="content col-lg-7">
                                    <div style="height: 500px;">
                                        <div class="w3-content" >
                                            <div th:if="${(ap.photo!= '')}">
                                                <!--<a  data-lightbox="image-1" data-title="My caption">-->
                                                <!--<div class="act-img">-->
                                                    <img class="mySlides" th:src="${ap.photo}" alt="img here" style="width:auto">
                                                <!--</div>-->
                                                <div th:if ="${(mine == 'true')}" id="div-1a" data-role="fieldcontain">
                                                <!--a href="index.html" data-role="button" data-icon="delete">Delete</a-->
                                                    <form method="POST" th:action="@{/removephoto/1/{apartmentID}(apartmentID=${ap.id})}" >
                                                        <button type="submit" class="btn-xs " value="Remove">Remove</button>
                                                    </form>
                                                </div>
                                                <!--</a>-->
                                            </div>
                                            <div th:if="${(ap.photo=='')}">
                                                <img class="mySlides" th:src="@{/images/no_image.png}" style="width: 350px;height:250px"/>
                                            </div>
                                            <div th:if="${(ap.photo2!= '')}">
                                                <!--<a  data-lightbox="image-1" data-title="My caption">-->
                                                   <!--<div class="act-img">-->
                                                       <img class="mySlides" th:src="${ap.photo2}" alt="img here" style="width:auto">
                                                   <!--</div>-->
                                                    <div th:if ="${(mine == 'true')}" id="div-1a" data-role="fieldcontain">
                                                        <!--a href="index.html" data-role="button" data-icon="delete">Delete</a-->
                                                        <form method="POST" th:action="@{/removephoto/2/{apartmentID}(apartmentID=${ap.id})}" >
                                                            <button type="submit" class="btn-xs " value="Remove">Remove</button>
                                                        </form>
                                                    </div>
                                                <!--</a>-->
                                            </div>
                                            <div th:if="${(ap.photo3!= '')}">
                                                <!--<a  data-lightbox="image-1" data-title="My caption">-->
                                                    <!--<div class="act-img">-->
                                                        <img class="mySlides" th:src="${ap.photo3}" alt="img here" style="width:auto">
                                                    <!--</div>-->
                                                    <div th:if ="${(mine == 'true')}" id="div-1a" data-role="fieldcontain">
                                                        <!--a href="index.html" data-role="button" data-icon="delete">Delete</a-->
                                                        <form method="POST" th:action="@{/removephoto/3/{apartmentID}(apartmentID=${ap.id})}" >
                                                            <button type="submit" class="btn-xs " value="Remove">Remove</button>
                                                        </form>
                                                    </div>
                                                <!--</a>-->
                                            </div>
                                            <div th:if="${(ap.photo4!= '')}">
                                                <!--<a  data-lightbox="image-1" data-title="My caption">-->
                                                   <!--<div class="act-img">-->
                                                       <img class="mySlides" th:src="${ap.photo4}" alt="img here" style="width:auto">
                                            <!--</div>-->
                                                    <div th:if ="${(mine == 'true')}" id="div-1a" data-role="fieldcontain">
                                                        <!--a href="index.html" data-role="button" data-icon="delete">Delete</a-->
                                                        <form method="POST" th:action="@{/removephoto/4/{apartmentID}(apartmentID=${ap.id})}" >
                                                            <button type="submit" class="btn-xs " value="Remove">Remove</button>
                                                        </form>
                                                    </div>
                                                <!--</a>-->
                                            </div>
                                            <div class="w3-row-padding w3-section">
                                                <div th:if="${(ap.photo!= '')}">
                                                    <div class="w3-col s3">
                                                        <img class="demo w3-opacity  w3-hover-opacity-off" style="width:90%"
                                                             th:src="${ap.photo}" onclick="currentDiv(1)">
                                                    </div>
                                                </div>
                                                <div th:if="${(ap.photo2!= '')}">
                                                    <div class="w3-col s3">
                                                        <img class="demo w3-opacity  w3-hover-opacity-off" style="width:90%"
                                                             th:src="${ap.photo2}" onclick="currentDiv(2)">
                                                    </div>
                                                </div>
                                                <div th:if="${(ap.photo3!= '')}">
                                                    <div class="w3-col s3">
                                                        <img class="demo w3-opacity  w3-hover-opacity-off" style="width:90%"
                                                             th:src="${ap.photo3}" onclick="currentDiv(3)">
                                                    </div>
                                                </div>
                                                <div th:if="${(ap.photo4!= '')}">
                                                    <div class="w3-col s3">
                                                        <img class="demo w3-opacity  w3-hover-opacity-off" style="width:90%"
                                                             th:src="${ap.photo4}" onclick="currentDiv(4)">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                </div>
                                </div>
                                <div class="side-content col-lg-5">
                                    <div style="height:500px">
                                        <h3 style="text-align:center;"><b>Find as in the Map</b></h3>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div id="side-content" style="height: 350px">
                                                    <div id="map_canvas" style="width:100%;height:100%;"></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <ul>
                                                    <li ><i class="fa fa-tag"></i><input  type="hidden" id="search_country" th:value="${ap.country}" th:text="${ap.country}"/>, <input type="hidden" id="search_town" th:value="${ap.town}" th:text="${ap.town}"/>, <input type="hidden" id="search_area" th:value="${ap.area}" th:text="${ap.area}"/></li>
                                                    <li><i class="fa fa-home"></i><input  type=hidden" id="search_address" th:value="${ap.address}" th:text="${ap.address}"/>,<input type="hidden" id="search_address_number" th:value="${ap.address_number}" th:text="${ap.address_number}"/></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <!--<nav class="specialnavbar">-->
                                    <!--<div>-->
                                        <!--<ul>-->
                                            <!--<li class="active" ><h5><a class="fa fa-info" href="#generalInfo"> <b><em> General Info</em></b></a></h5></li>-->
                                            <!--<li class=""><h5><a class="fa fa-calendar" href="#ownerInfo" ><b><em>  Owner's Info</em></b></a></h5></li>-->
                                            <!--<li class=""><h5><a class="fa fa-star" href="#ratings" id="ratings-link"><b><em>  Reviews</em></b></a></h5></li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                <!--</nav>-->
                                <ul class="nav nav-tabs">
                                    <li class="active" style="width: 25%"><a data-toggle="tab" class="fa fa-info" href="#generalInfo"><b><em> General Info</em></b></a></li>
                                    <li style="width: 25%"><a data-toggle="tab" class="fa fa-calendar" href="#ownerInfo" ><b><em>  Owner's Info</em></b></a></li>
                                    <li style="width: 25%"><a data-toggle="tab" class="fa fa-star" href="#ratings"><b><em>  Reviews</em></b></a></li>
                                    <li style="width: 25%"><a data-toggle="tab" class="fa fa-star" href="#ratings"><b><em>  Reviews</em></b></a></li>
                                </ul>
                            </div>


                            <div class="tab-content">
                                <div id="generalInfo" class="tab-pane fade in active">
                                    <label class="divider">Description </label>
                                    <div class="row">
                                        <div  class="col-lg-6 ">
                                            <p>
                                                <i class="fa fa-book"></i> <span th:text="${ap.description}"></span>
                                            </p>
                                        </div>
                                    </div>
                                    <label class="divider">Space </label>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <ul class="meta-search">
                                                <li > <i class="fa fa-home"></i><strong> Floor: </strong><span th:text="${ap.floor}"></span></li>
                                                <li > <i class="fa fa-bath"></i> <strong> Number of bathrooms: </strong><span  th:text="${ap.baths}"></span></li>
                                                <li > <i class="fa fa-bed"> </i><strong> Number of beds: </strong><span th:text="${ap.beds}"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <ul class="meta-search">
                                                <!--<li><i class="fa fa-user"></i> <a ><strong>Owned by:</strong> <span th:text="${ owner.name}" ></span> <span th:text="${ owner.surname }"></span></a></li>-->
                                                <li> <i class="fa fa-tags"> </i><span th:text="${ap_type}"> </span></li>
                                                <li><i class="fa fa-group"></i><strong> For <span th:text="${ap.capacity}"></span> people</strong> ,<span th:text="${ap.spaceArea}">-</span>s.m.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <label class="divider">Rental Rules </label>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <p><i class="fa fa-euro"></i> <span th:text="${ap.price}">price in</span>€/day</p>
                                            <p><i class="fa fa-calendar"></i><strong> Minimum reservation:</strong><span th:text="${ap.minimumres}"></span> days</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <p><strong>Available from: </strong><span th:text="${ap.startdate}"></span> <strong>to: </strong><span th:text="${ap.finaldate}"></span> </p>
                                        </div>
                                    </div>
                                    <span class="clearfix borda"></span>

                                    <div class="row">
                                        <div th:if="${#lists.size(features)!=0}">
                                            <label class="divider">Features </label>
                                            <div class="col-lg-6">
                                                <ul class="meta-search" th:each="f : ${features}">
                                                    <li >
                                                        <i class="fa-li fa fa-check-square"></i> <span th:text="${f}"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="ownerInfo" class="tab-pane fade">
                                    <label class="divider">Owner's Info </label>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <ul>
                                                <li><i class="fa fa-user"></i> <a ><strong> Owned by:</strong> <span th:text="${ owner.name}" ></span> <span th:text="${ owner.surname }"></span></a></li>
                                                <li><i class="fa fa-phone"></i> <a ><span th:text="${ owner.telephone}" ></span></a></li>
                                                <li><i class="fa fa-envelope"></i> <a ><span th:text="${ owner.email}" ></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div th:if="${(mine!='true')and ((type=='2') or(type=='3'))  and (uname!=null)}">
                                        <label class="divider">Contact Owner </label>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <button id="asknow" class="btn btn-outline-warning " data-wow-delay="0.2s" onclick="ask()">Ask owner a question</button>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="qform" style="display: none;" class="row">
                                        <div class="col-lg-6">
                                            <br>
                                            <form method="POST" th:action="@{/question/{apartmentID}(apartmentID=${ap.id})}">
                                                <input  name="question" id="question"   placeholder="Type your question here" required="required "maxlength="200" type="textarea"/>
                                                <input type="submit" value="Post" class="btn  btn-sm" onclick="post()"/>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div id="ratings" class="tab-pane fade">
                                    <label class="divider"> Renters' Reviews</label>
                                    <div th:if ="${(comments!=null)}">
                                            <div th:each="comment : ${comments}" class="row">
                                                <div class="col-sm-1">
                                                    <div class="thumbnail">
                                                        <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                                                    </div><!-- /thumbnail -->
                                                </div><!-- /col-sm-1 -->

                                                <div class="col-sm-5">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <strong th:text="${comment.renter}"> </strong>                                                         </div>
                                                        <div class="panel-body">
                                                            <span th:text="${comment.comment}"></span>
                                                        </div><!-- /panel-body -->
                                                    </div><!-- /panel panel-default -->
                                                </div><!-- /col-sm-5 -->
                                                <div class="rate">
                                                    <input type="radio" id="1-star5" name="rating" value="5" checked/>
                                                    <label for="1-star5" title="text">5 stars</label>
                                                    <input type="radio" id="1-star4" name="rating" value="4" />
                                                    <label for="1-star4" title="text">4 stars</label>
                                                    <input type="radio" id="1-star3" name="rating" value="3" />
                                                    <label for="1-star3" title="text">3 stars</label>
                                                    <input type="radio" id="1-star2" name="rating" value="2" />
                                                    <label for="1-star2" title="text">2 stars</label>
                                                    <input type="radio" id="1-star1" name="rating" value="1" />
                                                    <label for="1-star1" title="text">1 star</label>
                                                </div>
                                            </div>
                                            <!--<div class="media-body">-->
                                                <!--<div class="well well-lg">-->
                                                    <!--<h4 class="media-heading text-uppercase reviews"> <a th:each="user: ${comment.renter}"><span th:text="${user.usersUsername}"></span></a></h4>-->
                                                    <!--<ul class="media-date text-uppercase reviews list-inline">-->
                                                    <!--</ul>-->
                                                    <!--<p class="media-comment">-->
                                                    <!--</p>-->
                                                    <!--<div class="rate">-->
                                                        <!--<input type="radio" id="1-star5" name="rating" value="5" checked/>-->
                                                        <!--<label for="1-star5" title="text">5 stars</label>-->
                                                        <!--<input type="radio" id="1-star4" name="rating" value="4" />-->
                                                        <!--<label for="1-star4" title="text">4 stars</label>-->
                                                        <!--<input type="radio" id="1-star3" name="rating" value="3" />-->
                                                        <!--<label for="1-star3" title="text">3 stars</label>-->
                                                        <!--<input type="radio" id="1-star2" name="rating" value="2" />-->
                                                        <!--<label for="1-star2" title="text">2 stars</label>-->
                                                        <!--<input type="radio" id="1-star1" name="rating" value="1" />-->
                                                        <!--<label for="1-star1" title="text">1 star</label>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                    </div>
                                </div>

                            </div>


                            <span class="clearfix borda"></span>

                            <div th:if ="${(mine == 'true')}">
                                <label class="divider">Change Infos</label>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <button id="changenow" class="btn btn-outline-warning " data-wow-delay="0.5s" onclick="change()">Change</button>
                                        <br>
                                    </div>
                                </div>
                            </div>
                            <div th:if ="${(mine != 'true' and renter == 'true')}">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div th:if="${(param.success != null) and (param.success[0] == 'true')}">
                                            <span class="alert alert-success">You reservation has been submitted !</span>
                                        </div>
                                        <div th:if="${(param.success != null) and (param.success[0] == 'invalid')}">
                                            <span class="alert alert-success">Sorry,the given time area is invalid</span>
                                        </div>
                                        <div th:if="${(param.success != null) and (param.success[0] == 'min')}">
                                            <span class="alert alert-warning">We are sorry,minimum reservation is <span th:text="${ap.minimumres}"></span> days !</span>
                                        </div>
                                        <div th:if="${(param.success != null) and (param.success[0] == 'false')}">
                                            <span class="alert alert-warning">We are sorry these days are not available !</span>
                                        </div>
                                        <form method="POST" th:action="@{/reservation/{apartmentID}(apartmentID=${ap.id})}">
                                            <label >From :</label>
                                            <input name="startdate" type="text"  id="datepicker" style="width: 40%;" placeholder="Arrival Date" data-date-format='yyyy-mm-dd' >
                                            <label> To: </label>
                                            <input name="finaldate" type="text" id="datepicker" style="width: 40%;" placeholder="Departure Date" data-date-format='yyyy-mm-dd' > <br>
                                            <button id="rent" type="submit" class="btn btn-outline-warning " >Make a reservation</button>
                                            <br>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <br><br>
                    </section>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="yourtext2" style="display:none;">

    <header class="masthead">
        <div class="overlay">
            <p class="table-title"> <span th:text="${ap.name}"></span></p>
            <div class="container" style="background-color:#e6eaf2; opacity:0.8; width:90%; margin:0 auto;">

                <div id="secondarytext" >
                    <p class="table-subtitle"> Complete the form below to update your apartment's info</p><br>
                    <div  >
                        <form  class="update" method="POST"   enctype="multipart/form-data" th:action="@{/apartment_update/{apartmentID}(apartmentID=${ap.id})}">
                            <table>
                                <tr>
                                    <td class="mylabel"><strong> Name</strong>   </td>
                                    <td><input  name="name" id="name"  th:placeholder="${ap.name}"  type="text"/></td>
                                </tr>
                                <tr>
                                    <td class="mylabel"> <strong>Description</strong>  </td>
                                    <td><input  name="description" id="description"  th:placeholder="${ap.description}" maxlength="300" type="textarea"/></td>
                                </tr>
                            </table>
                            <table>
                                <tr>
                                    <td style="width: 30%"><strong>Country</strong><br><input  name="country" id="country"  th:placeholder="${ap.country}"  type="text"/></td>
                                    <td style="width: 30%"><strong>Town</strong><br><input  name="town" id="town"  th:placeholder="${ap.town}"  type="text"/></td>
                                    <td style="width: 30%"><strong>Area</strong><br><input  name="area" id="area"  th:placeholder="${ap.area}"  type="text"/></td>
                                    </tr>
                                <tr>
                                    <td style="width: 30%"><strong>Address</strong><br><input  name="address" id="address"  th:placeholder="${ap.address}"  type="text"/></td>
                                    <td style="width: 30%"><strong>Address Number</strong><br><input  name="address_number" id="address_number"  th:value="${ap.address_number}" th:placeholder="${ap.address_number}"  type="number"/></td>
                                </tr>
                            </table>
                            <table>
                                <tr>
                                    <td><strong>Start Date</strong><br> <input type="text" name="startdate" id="datepicker"  th:placeholder="${ap.startdate}" data-date-format='yyyy-mm-dd'/></td>
                                    <td><strong>Final Date</strong><br> <input  type="text" name="finaldate" id="datepicker" th:placeholder="${ap.finaldate}" data-date-format='yyyy-mm-dd'/></td>
                                </tr>
                                <tr>
                                    <td><strong>Price per day</strong><br> <input name="price" id="price" th:value="${ap.price}" th:placeholder="${ap.price}" min="1"  type="number"/></td>
                                    <td><strong>Minimum reservation</strong><br><input name="minimumres" th:value="${ap.minimumres}" th:placeholder="${ap.minimumres}" min="1"  type="number"/></td>
                                </tr>
                                <tr>
                                    <td><strong>Capacity</strong><br> <input name="capacity" th:value="${ap.capacity}" th:placeholder="${ap.capacity}"  type="number" min="1"></td>
                                    <td><strong>Space Area</strong><br><input type="number" th:value="${ap.spaceArea}" name="spaceArea"  id="spaceArea" th:placeholder="${ap.spaceArea}" min="1"/></td>
                                </tr>
                                <tr>
                                    <td><strong>Floor</strong><br> <input type="number" name="floor"  id="floor" th:value="${ap.floor}" th:placeholder="${ap.floor}"/></td>
                                    <td><strong>Number of bathrooms</strong><br><input type="number" name="baths"  id="baths" th:value="${ap.baths}" th:placeholder="${ap.baths}" min="0"/></td>
                                </tr>
                            </table>

                            <select name="type" class="mine" >
                                <option th:if="${(ap.type=='0')?'selected':''}" value="0"> Private Residence</option>
                                <option th:if="${(ap.type=='1')?'selected':''}"  value="1"> Public Residence</option>
                                <option th:if="${(ap.type=='2')?'selected':''}"  value="2"> Whole Residence</option>
                            </select>
                            <br>


                            <label class="btn btn-sm"> Parking <input type="checkbox" name="parking" th:checked="${ap.parking} == 1" value="1"/> </label>
                            <label class="btn btn-sm"> Air Condition <input type="checkbox" name="ac" th:checked="${ap.ac} == 1" value="1"/></label>
                            <label class="btn btn-sm"> Internet <input type="checkbox" name="internet" th:checked="${ap.internet} == 1" value="1"  /> </label>
                            <label class="btn btn-sm"> Elevator <input type="checkbox" name="elevator" th:checked="${ap.elevator} == 1" value="1"  /> </label>
                            <label class="btn btn-sm"> TV <input type="checkbox" name="tv" th:checked="${ap.tv} == 1" value="1"/> </label>
                            <label class="btn btn-sm"> Kitchen <input type="checkbox" name="kitchen" th:checked="${ap.kitchen} == 1" value="1" /> </label>
                            <label class="btn btn-sm"> Living Room <input type="checkbox" name="livingroom" th:checked="${ap.livingroom} == 1" value="1" /> </label>
                            <label class="btn btn-sm"> Central Heating <input type="checkbox" name="heating" th:checked="${ap.heating} == 1" value="1" /> </label>
                            <label class="btn btn-sm"> Pets Allowed <input type="checkbox" name="pets" th:checked="${ap.pets} == 1" value="1"/> </label>
                            <label class="btn btn-sm"> Smoking Allowed <input type="checkbox" name="smoking" th:checked="${ap.smoking} == 1" value="1" /> </label>
                            <label class="btn btn-sm"> For Events <input type="checkbox" name="events" th:checked="${ap.events} == 1" value="1" /> </label>

                            <br/>
                            <div class="form-group" >
                                <label  class="mylabel" >Change photo </label>
                                <input  type="file" name="uploadingFile" >
                            </div>
                            <div class="form-group" >
                                <label  class="mylabel" >Change photo2 </label>
                                <input  type="file" name="uploadingFile2" >
                            </div>
                            <div class="form-group" >
                                <label  class="mylabel" >Change photo3 </label>
                                <input  type="file" name="uploadingFile3" >
                            </div>
                            <div class="form-group" >
                                <label  class="mylabel" >Change photo4 </label>
                                <input  type="file" name="uploadingFile4" >
                            </div>
                            <br>
                            <button type="submit" id="change" value="Update" class="btn  btn-outline-warning " >Update</button>
                            <button id="backnow" class="btn btn-outline-secondary" data-wow-delay="0.5s" onclick="back()">Back</button>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </header>
</div>
<!-- Footer -->
<div th:replace="/fragments/footer :: footer"></div>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/popper/popper.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

<script type="text/javascript">
    jQuery(function(){
        jQuery($(":input[id^='datepicker']")).datepicker({
            dateFormat: 'yyyy-MM-dd',
            inline: true,
            showOtherMonths: true
        });
    });
</script >
<script type="text/javascript" th:src="@{/scripts/apartment.js}"></script>
<script async defer src="https://maps.google.com/maps/api/js?key=AIzaSyBEcboHJ3HmCOtpiaUMW_0mKw0C20qPVpk"></script>
<script type="text/javascript">
    window.onload = function() {
        var gmarkers = [];
        var latlng = new google.maps.LatLng(0.0, 0.0),
            options  = {
                zoom               : 10,
                mapTypeId          : google.maps.MapTypeId.TERRAIN,
                center             : latlng,
                streetViewControl  : true,
                scaleControl       : true,
                scrollwheel        : true,
                mapTypeControl     : true,
                overviewMapControl : true,
                panControlOptions  : {
                    position         : google.maps.ControlPosition.TOP_LEFT
                },
                zoomControlOptions : {
                    position         : google.maps.ControlPosition.TOP_LEFT
                }
            };
        map = new google.maps.Map(document.getElementById('map_canvas'), options),
            geocoder = new google.maps.Geocoder(),
            search = document.getElementById('search');

        function codeAddress() {

          var address = document.getElementById("search_town").value + " " +document.getElementById("search_country").value+ " " + document.getElementById("search_area").value + " " +
                document.getElementById("search_address").value + " " + document.getElementById("search_address_number").value;
            geocoder.geocode( { 'address': address}, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    map.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                    gmarkers.push(marker);
                } else {
                    alert("Οι χάρτες της Google αντιμετώπισαν το εξής πρόβλημα: " + status);
                }
            });
        }

        function removeMarkers(){
            var i;
            for(i=0; i<gmarkers.length; i++){
                gmarkers[i].setMap(null);
            }
        }

        codeAddress();

        search.onclick = function() {
            removeMarkers();
            codeAddress();
        };
    };
</script>
<script th:src="@{/scripts/lightbox.js}" ></script>
<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function currentDiv(n) {
        showDivs(slideIndex = n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
        }
        x[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " w3-opacity-off";
    }
</script>
</body>
</html>
