<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="/fragments/head :: head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Critics</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"  rel="stylesheet" type="text/css" media="all"/>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/one-page-wonder.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{css/users.css}" rel="stylesheet" type="text/css" media="all">

</head>

<body>
<!-- Navigation -->

<div th:replace="/fragments/navbar :: navbar('critics')"></div>

<header class="masthead">
    <div class="overlay" >

        <div th:if="${(items != null)}">
            <div id="allreserv"  class="well" style="display:block;">

                <!--/*Table with info about each user*/-->
                <div id="initialtext" th:if="${(owner==null)}">
                    <p class="table-title" style="color: black!important;"> Critics Info</p>
                    <p class="table-subtitle" style="color: black!important;"> Below you can see the info of all critics made. OR <a th:href="@{/downloadcriticsR/{renter}(renter=${renter})}"><strong>Download</strong></a><p>
                    <div  style="background-color:#e6eaf2; opacity:0.8; width:60%; margin:0 auto;" >
                        <table >
                            <thead>
                            <tr>
                                <th>Renter</th>
                                <th>Apartment</th >
                                <th>Owner</th>
                                <th >Rating</th>
                                <th >Comment</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="res ,resStat : ${items}">
                                <td><span th:text="${renters[__${resStat .index}__]}">R</span></td>
                                <td><span th:text="${aparts[__${resStat .index}__]}">A</span></td>
                                <td><span th:text="${owners[__${resStat .index}__]}">O</span></td>
                                <td ><span th:text="${res.rating}">R</span></td>
                                <td><span th:text="${res.comment}">C</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="initialtext2" th:if="${(renter==null)}">
                    <p class="table-title"> Critics Info</p>
                    <p class="table-subtitle"> Below you can see the info of all critics made. OR <a th:href="@{/downloadcriticsO/{owner}(owner=${owner})}"><strong>Download</strong></a><p>
                    <div  style="background-color:#e6eaf2; opacity:0.8; width:60%; margin:0 auto;">
                        <table >
                            <thead>
                            <tr>
                                <th>Owner</th>
                                <th>Apartment</th >
                                <th>Renter</th>
                                <th >Rating</th>
                                <th >Comment</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="res ,resStat : ${items}">
                                <td><span th:text="${owners[__${resStat .index}__]}">O</span></td>
                                <td><span th:text="${aparts[__${resStat .index}__]}">A</span></td>
                                <td><span th:text="${renters[__${resStat .index}__]}">R</span></td>
                                <td ><span th:text="${res.rating}">R</span></td>
                                <td><span th:text="${res.comment}">C</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                </div>
                <div th:replace="fragments/paginationbar :: paginationbar"></div>

            </div>
        </div>


        <div th:if="${(items==null)  and (renter!='false') and (owner==null)}">
            <div class="alert alert-success" style="text-align: center;"> There are no critics by <span th:text="${renter}">this</span> ! <br>  </div>
        </div>
        <div th:if="${(items==null) and  (renter=='false')and (owner==null)}">
            <div class="alert alert-success" style="text-align: center;"> No such renter exists !<br>  </div>
        </div>

        <div th:if="${(items==null)  and (owner!='false') and (renter==null)}">
            <div class="alert alert-success" style="text-align: center;"> There are no critics for <span th:text="${owner}">this</span> ! <br>  </div>
        </div>
        <div th:if="${(items==null) and  (owner=='false')and (renter==null)}">
            <div class="alert alert-success" style="text-align: center;"> No such owner exists !<br>  </div>
        </div>
    </div>
</header>





<!-- Footer -->
<div th:replace="/fragments/footer :: footer"></div>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/popper/popper.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>




</body>

</html>
