<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="/fragments/head :: head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Welcome</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css" media="all">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/one-page-wonder.css}" rel="stylesheet" type="text/css" media="all">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/scripts/search.js}"></script>

    <link th:href="@{/css/search.css}" rel="stylesheet" type="text/css" media="all">
    <link th:href="@{/css/searchCss.css}" rel="stylesheet" type="text/css" media="all">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" rel="stylesheet" type="text/css" media="all" />

</head>

<body>

    <!-- Navigation -->
    <div th:replace="/fragments/navbar :: navbar('home')"></div>

    <header class="masthead">
        <div class="overlay">
            <div class="container">
                <div id="initialtext">
                    <h1 class="display-1 text-white">Air S A & B </h1>
                    <h2 class="display-4 text-white">Rent an apartment now</h2>
                    <div> <br> </div>
                    <button id="searchnow" class="btn btn-outline-warning " data-wow-delay="0.5s">Search Now</button>
                </div>
                <div id="secondarytext" style="display:none;">
                    <h2 class="display-6 text-white"> Fill the form below and browse the results</h2>
                    <form class="searchform" method="POST" th:action="@{/search}">
                        <input name="country" type="text" style="width: 30%;" placeholder="Country" >
                        <input name="town" type="text" style="width: 30%;" placeholder="Town" >
                        <input name="area" type="text" style="width: 30%;" placeholder="Area" > <br>
                        <input name="arrivalDate" type="text"  id="datepicker1" style="width: 40%;" placeholder="Arrival Date" data-date-format='yyyy-mm-dd' >
                        <input name="departureDate" type="text" id="datepicker2" style="width: 40%;" placeholder="Departure Date" data-date-format='yyyy-mm-dd' > <br>
                        <p id="datesError" style="display:none;width:100%;" class="alert-danger">Departure Date needs to be after Arrival Date</p>
                        <input name="people" type="number"  min="1" style="width: 50%;" placeholder="Persons">
                        <input type="submit" id="tokoumpi" value="Submit" class="btn  btn-sm" />
                    </form>
                    <br>
                    <button id="backnow" class="btn btn-outline-secondary " data-wow-delay="0.5s">Back</button>
                </div>
                
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col order-1">
                    <div class="p-5">
                        <h3 class="display-4">Welcome!</h3>
                        <p>If you are tired of the hotels and their typical accomodation ,there is a placce for you. Here you can rent any apartment or studio in every city that is available within the app. It's easy! Just pick the dates and the city you are interested in and you can choose from many results. You can also talk with owners to establish any preferances for your stay in their place. There are useful filters to eliminate the results and ,hopefully, get all you ask for in one apartment.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section th:if="${(recommendations != null)}">
        <div class="container" th:if="${(recommendations != null)}">
            <h3 style="text-align: center"> Check these </h3>
            <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width:50%;display: block;margin-left: auto;margin-right: auto ">
                <!-- Indicators -->
                <ol class="carousel-indicators" th:each=" rec ,iterstat : ${recommendations}">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to=${iterstat.index} ></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner"  >

                    <div class="item active" >
                        <div th:if="${recommendations[0].photo == ''}">
                            <a th:href="@{/apartment/{apartmentID}(apartmentID=${recommendations[0].id})}" >  <img style="display: block;margin-left: auto;margin-right: auto ;width: 100%" th:src="@{/images/no_image.png}"  /></a>
                        </div>
                        <div th:if="${recommendations[0].photo != ''}">
                            <a th:href="@{/apartment/{apartmentID}(apartmentID=${recommendations[0].id})}" >  <img style="display: block;margin-left: auto;margin-right: auto;width: 100%" th:src="${recommendations[0].photo}" alt="apartment pic" /></a>
                        </div>
                        <div class="carousel-caption">
                             <h3 th:text="${recommendations[0].country}">Los Angeles</h3>
                             <p th:text="${recommendations[0].description}">[&hellip;]</p>
                        </div>
                    </div>

                    <div class="item" th:each="rec :${recommendations}">
                        <div th:if="${rec.photo == ''}">
                            <a th:href="@{/apartment/{apartmentID}(apartmentID=${rec.id})}"><img style="display: block;margin-left: auto;margin-right: auto;width: 100%;" th:src="@{/images/no_image.png}"  />
                            </a>
                        </div>
                        <div th:if="${rec.photo != ''}">
                            <a th:href="@{/apartment/{apartmentID}(apartmentID=${rec.id})}"><img style="display: block;margin-left: auto;margin-right: auto;width: 100%;"  th:src="${rec.photo}" alt="apartment pic"/>
                            </a>
                        </div>
                        <div class="carousel-caption">
                            <h3 th:text="${rec.country}">Los Angeles</h3>
                            <p th:text="${rec.description}">[&hellip;]</p>
                        </div>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!--<div class="row align-items-center">-->
                <!--<div class="col order-1">-->
                    <!--<div class="p-5" >-->
                        <!--<h3 class="display-4">Check these out</h3>-->
                    <!--</div>-->
                    <!--<div class="parent-wrapper">-->
                        <!--<div class="parent">-->
                            <!--<div class= "child" th:each="apart : ${recommendations} ">-->
                                <!--<section class="col-xs-12 col-sm-9 col-md-12">-->
                                    <!--<article class="search-result">-->
                                        <!--<div class="row">-->
                                            <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
                                                <!--<h2 class="heading"><a th:href="@{/apartment/{apartID}(apartID=${apart.id})}" th:text="${apart.name}">Voluptatem, exercitationem, suscipit, distinctio</a></h2>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <!--<div class="row">-->
                                            <!--<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"></div>-->
                                            <!--<div th:if="${(apart.photo!= '')}">-->
                                                <!--<img alt="Apartment Pic"  th:src ="${apart.photo}" style="width:300px;height:150px"/>-->
                                            <!--</div>-->
                                            <!--<div th:if="${(apart.photo== '')}">-->
                                                <!--<img th:src="@{/images/no_image.png}" style="width:300px;height:150px" />-->
                                            <!--</div>-->

                                        <!--</div>-->

                                        <!--<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 excerpet border">-->
                                            <!--<p th:text="${apart.description}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, exercitationem, suscipit, distinctio, qui sapiente aspernatur molestiae non corporis magni sit sequi iusto debitis delectus doloremque.</p>-->
                                        <!--</div>-->
                                        <!--<div class="row">-->
                                            <!--<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">-->
                                                <!--<ul class="meta-search">-->
                                                   <!--<li><span th:text="${apart.country}"></span>,<span th:text="${apart.town}"></span>,<span th:text="${apart.area}"></span></li>-->
                                                    <!--<li>for <span th:text="${apart.capacity}"></span> people</li>-->
                                                <!--</ul>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">-->
                                            <!--<div class="row">-->
                                                <!--<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"><span th:text="${apart.price}"></span><span>€</span></div>-->
                                                <!--<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> <span class="plus"><a th:href="@{/apartment/{apartID}(apartID=${apart.id})}"> More .. <i class="glyphicon glyphicon-plus"></i></a></span></div>-->
                                            <!--</div>-->
                                            <!--<span class="clearfix borda"></span>-->
                                        <!--</div>-->
                                        <!--<span class="clearfix borda"></span>-->
                                    <!--</article>-->
                                <!--</section>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </section>


    <section>
        <div class="container" id="about"> 
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" th:src="@{/images/team.jpg}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="p-5">
                        <h3 class="display-4">About us</h3>
                        <p>We are newly formed team that is willing to work in this project with passion. Stavrina and
                            Arianna created this web application for your ease and comfort. Now you can book a place to
                            stay whenever on vacation or job travel ,avoiding those cold hotel rooms that lack the sense
                            of feeling at home. Hope you enjoy it! </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container" id="contact">
            <div class="row align-items-center">
                <div class="col-md-6 order-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" th:src="@{/images/contact.jpg}" alt="">
                    </div>
                </div>
                <div class="col-md-6 order-1">
                    <div class="p-5">
                        <h2 class="display-4">Contact us</h2>
                        <p>For any question ,email us at <em> airsab@gmail.com </em>. We will respond to you as soon as possible with all the information you need. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <div th:replace="/fragments/footer :: footer"></div>

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/popper/popper.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>


    <!-- Include jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

<script type="text/javascript">

        var dateToday = new Date();
        ($('#datepicker1')).datepicker({
            dateFormat: 'yyyy-MM-dd',
            inline: true,
            showOtherMonths: true,
            minDate: dateToday
        });
        ($('#datepicker2')).datepicker({
            dateFormat: 'yyyy-MM-dd',
            inline: true,
            showOtherMonths: true,
            minDate: 0
        });

</script>
    <script  type="text/javascript" th:src="@{/scripts/checkdates.js}"></script>

</body>

</html>
