<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Log in</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css" media="all">

    <!-- Custom styles for this template -->
     <link th:href="@{/css/one-page-wonder.css}"rel="stylesheet" type="text/css" media="all">
    <link th:href="@{/css/login.css}" rel="stylesheet" type="text/css" media="all">

</head>
<body>

    <!-- Navigation -->
    <div th:replace="/fragments/navbar :: navbar('login')"></div>

    <header class="masthead">
        <div class="overlay">
            <div class="container">
                <div >
                    <p class="form-title"> Complete the form below and log into your account</p>
                    <form class="login" method="POST" th:action="@{/login}">
                        <input type="text" name="username" id="username" placeholder="Username" />
                        <input type="password" name="password" id="password" placeholder="Password" />
                        <input type="submit" value="Submit" class="btn  btn-sm" />
                        <div >
                        
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <!-- Footer -->
    <div th:replace="/fragments/footer :: footer"></div>

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{vendor/popper/popper.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>

