<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Profile</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"rel="stylesheet" type="text/css" media="all">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/one-page-wonder.css}" rel="stylesheet" type="text/css" media="all">
    <link th:href="@{css/profile.css}" rel="stylesheet" type="text/css" media="all">

</head>
<body>

<!-- Navigation -->
<div th:replace="/fragments/navbar :: navbar('profile')"></div>


<header class="masthead">
    <div class="overlay">
        <div class="container">

            <div id="initialtext">
                <p class="table-title"> Users <span th:text="${uname}"></span> Info</p>
                <p class="table-subtitle"> Below you can see the info you provided during registration. You can change any of them by clicking 'Change' button ,except your username.<p>
                <div  style="background-color:#e6eaf2; opacity:0.8; width:50%; margin:0 auto;">
                    <table>
                        <tr>
                            <td class="mylabel"> Name   </td>
                            <td > <span th:text="${name}"></span></td>
                        </tr>
                        <tr>
                            <td class="mylabel"> Surname   </td>
                            <td> <span th:text="${surname}"></span> </td>
                        </tr>
                        <tr>
                            <td class="mylabel"> Email  </td>
                            <td> <span th:text="${email}"></span> </td>
                        </tr>
                        <tr>
                            <td class="mylabel"> Telephone   </td>
                            <td> <span th:text="${telephone}"></span> </td>
                        </tr>
                        <tr>
                            <td class="mylabel"> Role   </td>
                            <td> <span th:text="${type}"></span> </td>
                        </tr>
                    </table>

                </div>
                <br>
                <button id="changenow" class="btn btn-outline-warning " data-wow-delay="0.5s" onclick="change()">Change</button>
            </div>
            <div id="secondarytext" style="display:none;">
                <p class="table-title"> Complete the form below to update your account</p>
                <div  style="background-color:#e6eaf2; opacity:0.8; width:50%; margin:0 auto;">
                    <form  class="update" method="POST"  th:action="@{/update}">
                        <table>
                            <tr>
                                <td class="mylabel"> Name   </td>
                                <td > <input  name="name" id="name"  th:placeholder="${name}"   type="text"/> </td>
                            </tr>
                            <tr>
                                <td class="mylabel"> Surname   </td>
                                <td> <input  name="surname" id="surname"  th:placeholder="${surname}"  type="text"/> </td>
                            </tr>
                            <tr>
                                <td class="mylabel"> Email   </td>
                                <td> <input  name="email" id="email"    th:placeholder="${email}"  type="email" /> </td>
                            </tr>
                            <tr>
                                <td class="mylabel"> Telephone   </td>
                                <td> <input  name="telephone" id="telephone"   th:placeholder="${telephone}"   type="text" /> </td>
                            </tr>
                            <!--tr>
                                <td class="mylabel"> Role   </td>
                                <td> Owner </td>
                            </tr-->
                            <tr>
                                <td class="mylabel"> Password   </td>
                                <td> <input type="password" placeholder="*******"  onchange="form.password_confirm.pattern = this.value;" name="password" id="password"/> </td>
                            </tr>
                            <tr>
                                <td class="mylabel"> Confirm Password   </td>
                                <td> <input name="password_confirm" name="password_confirm" placeholder="*******" type="password" /> </td>
                            </tr>
                        </table>

                        <!--label class="btn btn-sm">Owner <input type="checkbox" name="q1" value="0" > </label>
                        <label class="btn btn-sm">       Renter<input type="checkbox" name="q1" value="1"/></label-->


                    </form>
                </div>
                <br>
                <input type="submit" value="Update" class="btn  btn-outline-warning " />
                <button id="backnow" class="btn btn-outline-secondary" data-wow-delay="0.5s" onclick="back()">Back</button>
            </div>

        </div>
    </div>
</header>


<!-- Footer -->
<div th:replace="/fragments/footer :: footer"></div>
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/popper/popper.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<script >
    function change(){
        $("#initialtext").hide();
        $("#secondarytext").show();
    }

    function back(){
        $("#secondarytext").hide();
        $("#initialtext").show();
    }
</script>

</body>
</html>

