<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="/fragments/head :: head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sign up</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"rel="stylesheet" type="text/css" media="all">

    <!-- Custom styles for this template -->
     <link th:href="@{/css/one-page-wonder.css}" rel="stylesheet" type="text/css" media="all">
    <link th:href="@{css/register.css}" rel="stylesheet" type="text/css" media="all">



</head>
<body>

    <!-- Navigation -->
    <div th:replace="/fragments/navbar :: navbar('register')"></div>

    <header class="masthead">
        <div class="overlay">
            <div th:if ="${(success != null) and (success == 'true') and (type=='2')}">
                <div class="alert alert-success" style="text-align: center;"> Your registration has been succesfully completed! <br>  <a  th:href="@{/index}">Back to homepage .</a></div>
                <div th:if="${(type=='1') or (type=='3')}" class="alert alert-success" style="text-align: center;"> Your registration has been succesfully completed! <br> Not approved by admin yet! <br><a  th:href="@{/index}">Back to homepage .</a></div>
            </div >
            <div th:if ="${(success != null) and (success == 'true') and ((type=='1') or (type=='3'))}">
                <div  class="alert alert-success" style="text-align: center;"> Your registration has been succesfully completed! <br> Not approved by admin yet! <br><a  th:href="@{/index}">Back to homepage .</a></div>
            </div >
            <div th:if ="${(success != null) and (success == 'false')}">
                <div class="alert alert-success" style="text-align: center;"> Your registration failed! Please try again with a different username. <br> </div>
            </div >
            <div th:if ="${(success == null) or (success == 'false')}" class="container">
                
                    <p class="form-title"> Complete the form below to create an account</p>
                    <form class="register" method="POST"  enctype="multipart/form-data" th:action="@{/register}">
                        <input  name="name" id="name" required="required" placeholder="Name"   type="text"/>
                        <input  name="surname" id="surname" required="required" placeholder="Surname"  type="text" />
                        <input  name="email" id="email" required="required"   placeholder="Email"  type="email" />
                        <input  name="telephone" id="telephone" required="required" pattern="\d{10}" placeholder="Telephone"   type="text" />

                        <label class="btn btn-sm">Owner <input type="checkbox"  id="ownertype" name="owner" value="1" onclick="validate()" /> </label>
                        <label class="btn btn-sm">Renter<input type="checkbox"  id="rentertype" name="renter" value="2" onclick="validate2()"/></label>
                        <input  name="type" id="type" required="required"  type="hidden" path="type"/>
                        <p id="checkboxError" style="display:none;width:100%;" class="alert-danger">You must check at least one checkbox.</p>


                        <input type="text" name="username" id="username" placeholder="Username" />
                        <span style="display:none;" id="usernameError" class="alert-danger">Username already in use</span>
                        <input type="password" name="password" id="passsword" placeholder="Password" required="required" onchange="form.passwordsignup_confirm.pattern = this.value;"/>
                        <input  name="passwordsignup_confirm" id="passwordsignup_confirm"  required="required"  placeholder="Confirm Password" type="password" />
                        <div class="form-group" align="center">

                            <label  class="photo_upload" >Profile picture</label>
                            <div class="col-sm-10">
                                <input  type="file" name="uploadingFile"  >
                            </div>
                        </div>
                        <input type="submit" value="register"  id="tokoumpi" class="btn  btn-sm" onclick="complete()"/>
                        
                    </form>
                
            </div>
        </div>
    </header>

    <!-- Footer -->
    <div th:replace="/fragments/footer :: footer"></div>
    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/popper/popper.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

    <script type="text/javascript" th:src="@{/scripts/roles.js}"></script>

    <script type="text/javascript" th:src="@{/scripts/checkboxcheck.js}"></script>

    <script type="application/javascript" th:src="@{/scripts/usernamecheck.js}"></script>

</body>
</html>

