<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="/fragments/head :: head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Reservations</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"  rel="stylesheet" type="text/css" media="all"/>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/one-page-wonder.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{css/users.css}" rel="stylesheet" type="text/css" media="all">

</head>

<body>

<div th:replace="/fragments/navbar :: navbar('reservations')"></div>
<header class="masthead">
    <div class="overlay" >

        <div th:if="${(items != null)}">
            <div id="allreserv"  class="well" style="display:block;">

                <!--/*Table with info about each user*/-->
                <div id="initialtext">
                    <p class="table-title" style="color: black!important;"> Reservations Info</p>
                    <p class="table-subtitle" style="color: black!important;"> Below you can see the info of all reservations made. OR <a th:href="@{/downloadreservations/{renter}(renter=${renter})}"><strong>Download</strong></a><p>
                    <div  style="background-color:#e6eaf2; opacity:0.8; width:60%; margin:0 auto;">
                        <table >
                            <thead>
                            <tr>
                                <th>Renter</th>
                                <th>Apartment</th >
                                <th>Owner</th>
                                <th >StartDate</th>
                                <th >FinalDate</th>
                                <th >Cost</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="res ,resStat : ${items}">
                                <td><span th:text="${renters[__${resStat .index}__]}">R</span></td>
                                <td><span th:text="${aparts[__${resStat .index}__]}">A</span></td>
                                <td><span th:text="${owners[__${resStat .index}__]}">O</span></td>
                                <td ><span th:text="${res.startdate}">S</span></td>
                                <td><span th:text="${res.finaldate}">F</span></td>
                                <td><span th:text="${res.totalCost}">C</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                </div>
                <div th:replace="fragments/paginationbar :: paginationbar"></div>

            </div>
        </div>

        <div th:if="${(items==null) and (renter=='all')}">
            <div class="alert alert-success" style="text-align: center;"> There are no reservations ! <br>  </div>
        </div>
        <div th:if="${(items==null) and (renter!='all') and (renter!='false')}">
            <div class="alert alert-success" style="text-align: center;"> There are no reservations for <span th:text="${renter}">this</span> renter! <br>  </div>
        </div>
        <div th:if="${(items==null) and  (renter=='false')}">
        <div class="alert alert-success" style="text-align: center;"> No such renter exists !<br>  </div>
    </div>
    </div>
</header>





<!-- Footer -->
<div th:replace="/fragments/footer :: footer"></div>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/popper/popper.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>




</body>

</html>
