<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Users</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"  rel="stylesheet" type="text/css" media="all"/>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/one-page-wonder.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{css/users.css}" rel="stylesheet" type="text/css" media="all">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Air SA&B</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav nav-pills ml-auto">
                <li class="nav-item">
                    <a class="nav-link disabled" style="color:#dba63d;" >admin</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/admin}">Home </a>
                </li>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown"  role="button" href="" aria-haspopup="true" aria-expanded="false">Users</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item " th:href="@{/owners}">Owners</a>
                      <a class="dropdown-item " th:href="@{/renters}">Renters</a>
                      <a class="dropdown-item " th:href="@{/accept}">Requests</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item " th:href="@{/users}">All</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/apartslist}">Apartments </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Reservations</a>
                    <div class="dropdown-menu">
                        <form class="dropdown-item" method="POST" th:action="@{/resbyrenter}">
                            <label >By Renter</label> <br>
                            <input name="renter"  type="text" />
                            <input type="submit" value="Go"/>
                        </form>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/reservationslist}">All</a>
                    </div>
                </li>
                
            </ul>
        </div>
    </nav>

    <header class="masthead">
        <div class="overlay" >

                <div th:if="${(requests == null)}">
                    <div id="allusers"  class="well" style="display:block;">

                        <!--/*Table with info about each user*/-->
                        <div id="initialtextt">
                            <p class="table-title"> Users Info</p>
                            <p class="table-subtitle"> Below you can see the info of all users registered. OR <a th:href="@{/downloadusers/{ftype}(ftype=${ftype})}"><strong>Download</strong></a><p>
                            <div  style="background-color:#e6eaf2; opacity:0.8; width:70%; margin:0 auto;">
                                <table >
                                    <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Name</th>
                                        <th>Surname</th>
                                        <th>E-Mail</th>
                                        <th>Telephone</th>
                                        <th>Type</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${items}">
                                        <td><span th:text="${user.username}">U</span></td>
                                        <td> <span th:text="${user.name}">N</span></td>
                                        <td ><span th:text="${user.surname}">S</span></td>
                                        <td><span th:text="${user.email}">E</span></td>
                                        <td><span th:text="${user.telephone}">T</span></td>
                                        <td><span th:text="${user.type}">T</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br>
                        </div>
                        <div th:replace="fragments/paginationbar :: paginationbar"></div>

                    </div>
                </div>
                <div th:if="${(requests != null) and (requests == 'true')}">
                    <div th:if="${(items==null)}">
                        <div class="alert alert-success" style="text-align: center;"> There are no owners' requests ! <br>  </div>
                    </div>
                    <div th:if="${(items!=null)}">
                        <div id="request"  class="well" >

                            <!--/*Table with info approvals*/-->
                            <div >
                                <p class="table-title"> Owners' Requests</p>
                                <div  style="background-color:#e6eaf2; opacity:0.8; width:50%; margin:0 auto;">
                                    <table class="table table-condensed">
                                        <thead>
                                        <tr>
                                            <th>Username</th>
                                            <th style="width: 30px;"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user : ${items}">
                                            <form method="POST" th:action="@{/accept/{userID}(userID=${user.usersUsername})}">
                                                <td th:text="${user.usersUsername}">Username</td>
                                                <td><button class="btn btn-info" type="submit">Approve</button></td>
                                            </form>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <br>
                            </div>
                            <div th:replace="fragments/paginationbar :: paginationbar"></div>
                        </div>
                    </div>
                </div>
        </div>
    </header>

    

    

    <!-- Footer -->
    <div th:replace="/fragments/footer :: footer"></div>

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/popper/popper.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

    


</body>

</html>
