<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="/fragments/head :: head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Users</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"  rel="stylesheet" type="text/css" media="all"/>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/one-page-wonder.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{css/users.css}" rel="stylesheet" type="text/css" media="all">

</head>

<body>

<!-- Navigation-->
<div th:replace="/fragments/navbar :: navbar('users')"></div>

    <header class="masthead">
        <div class="overlay" >

                <div th:if="${(requests == null and items!=null)}">
                    <div id="allusers"  class="well" style="display:block;">

                        <!--/*Table with info about each user*/-->
                        <div id="initialtextt">
                            <p class="table-title" style="color: black!important;"> Users Info</p>
                            <p class="table-subtitle" style="color: black!important;"> Below you can see the info of all users registered. OR <a th:href="@{/downloadusers/{ftype}(ftype=${ftype})}"><strong>Download</strong></a><p>
                            <div  style="background-color:#e6eaf2; opacity:0.8; width:70%; margin:0 auto;">
                                <table >
                                    <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Name</th>
                                        <th>Surname</th>
                                        <th>E-Mail</th>
                                        <th>Telephone</th>
                                        <th>Type</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${items}">
                                        <td><span th:text="${user.username}">U</span></td>
                                        <td> <span th:text="${user.name}">N</span></td>
                                        <td ><span th:text="${user.surname}">S</span></td>
                                        <td><span th:text="${user.email}">E</span></td>
                                        <td><span th:text="${user.telephone}">T</span></td>
                                        <td><span th:text="${user.type}">T</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br>
                        </div>
                        <div th:replace="fragments/paginationbar :: paginationbar"></div>

                    </div>
                </div>

                <div th:if="${(requests != null) and (requests == 'true')}">
                    <div th:if="${(items==null)}">
                        <div class="alert alert-success" style="text-align: center;"> There are no owners' requests ! <br>  </div>
                    </div>
                    <div th:if="${(items!=null)}">
                        <div id="request"  class="well" >

                            <!--/*Table with info approvals*/-->
                            <div >
                                <p class="table-title" style="color: black!important;"> Owners' Requests</p>
                                <div  style="background-color:#e6eaf2; opacity:0.8; width:75%; margin:0 auto;">
                                    <table class="table table-condensed" style="color: black!important;">
                                        <thead>
                                        <tr>
                                            <th>Username</th>
                                            <th>Name</th>
                                            <th>Surname</th>
                                            <th>E-Mail</th>
                                            <th>Telephone</th>
                                            <th>Type</th>
                                            <th style="width: 30px;"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user,userStat : ${items}">
                                            <form method="POST" th:action="@{/accept/{userID}(userID=${user.usersUsername})}">
                                                <td th:text="${user.usersUsername}">Username</td>
                                                <td> <span th:text="${items2[__${userStat .index}__].name}">N</span></td>
                                                <td ><span th:text="${items2[__${userStat .index}__].surname}">S</span></td>
                                                <td><span th:text="${items2[__${userStat .index}__].email}">E</span></td>
                                                <td><span th:text="${items2[__${userStat .index}__].telephone}">T</span></td>
                                                <td><span th:text="${items2[__${userStat .index}__].type}">T</span></td>
                                                <td><button class="btn btn-info" type="submit">Approve</button></td>
                                            </form>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <br>
                            </div>
                            <div th:replace="fragments/paginationbar :: paginationbar"></div>
                        </div>
                    </div>
                </div>
        </div>
    </header>

    

    

    <!-- Footer -->
    <div th:replace="/fragments/footer :: footer"></div>

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/popper/popper.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

    


</body>

</html>
